// Alacritty colors
// foreground: #a0a8b8
// background: #1a1c23
// black: #2c323c
// red: #e55561
// green: #8ebd6b
// yellow: #e2b86b
// blue: #4fa6ed
// magenta: #bf68d9
// cyan: #48b0bd
// white: #a0a8b7

layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:/home/mike/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode}#[fg=#1a1c23,bg=#4fa6ed,bold] {session} #[fg=#4fa6ed]{tabs}"
            format_right "#[fg=#4fa6ed,bold]{datetime}"
            format_space "#[]"

            border_enabled  "false"

            hide_frame_for_single_pane "true"

            tab_normal              "#[fg=#4C4C59]#[fg=#1a1c23,bg=#4C4C59] {index}  {name} #[fg=#4C4C59]"
            tab_normal_fullscreen   "#[fg=#4C4C59]#[fg=#1a1c23,bg=#4C4C59] {index}  {name} Z #[fg=#4C4C59]"
            tab_normal_sync         "#[fg=#4C4C59]#[fg=#1a1c23,bg=#4C4C59] {index}  {name} S #[fg=#4C4C59]"
            tab_active              "#[fg=#ffffff]#[fg=#1a1c23,bg=#ffffff,bold] {index}  {name} #[fg=#ffffff]"
            tab_active_fullscreen   "#[fg=#ffffff]#[fg=#1a1c23,bg=#ffffff,bold] {index}  {name} Z #[fg=#ffffff]"
            tab_active_sync         "#[fg=#ffffff]#[fg=#1a1c23,bg=#ffffff,bold] {index}  {name} S #[fg=#ffffff]"

            datetime        "#[fg=#1a1c23,bg=#4fa6ed,bold] {format} "
            datetime_format "%A, %Y%m%d %H%M"
            datetime_timezone "America/Los_Angeles"

            mode_normal        "#[fg=#1a1c23,bg=#4fa6ed,bold]  NORMAL "
            mode_locked        "#[fg=#1a1c23,bg=#e55561,bold]  LOCKED #[fg=#e55561,bg=#4fa6ed]"
            mode_resize        "#[fg=#1a1c23,bg=#e2b86b,bold]  RESIZE #[fg=#e2b86b,bg=#4fa6ed]"
            mode_pane          "#[fg=#1a1c23,bg=#e2b86b,bold]   PANE  #[fg=#e2b86b,bg=#4fa6ed]"
            mode_tab           "#[fg=#1a1c23,bg=#e2b86b,bold]   TAB   #[fg=#e2b86b,bg=#4fa6ed]"
            mode_scroll        "#[fg=#1a1c23,bg=#e2b86b,bold]  SCROLL #[fg=#e2b86b,bg=#4fa6ed]"
            mode_enter_search  "#[fg=#1a1c23,bg=#e2b86b,bold] ENTER SEARCH #[fg=#e2b86b,bg=#4fa6ed]"
            mode_search        "#[fg=#1a1c23,bg=#e2b86b,bold]  SEARCH #[gg=#e2b86b,bg=#4fa6ed]"
            mode_rename_tab    "#[fg=#1a1c23,bg=#e2b86b,bold] RENAME TAB #[fg=#e2b86b,bg=#4fa6ed]"
            mode_rename_pane   "#[fg=#1a1c23,bg=#e2b86b,bold] RENAME PANE #[fg=#e2b86b,bg=#4fa6ed]"
            mode_session       "#[fg=#1a1c23,bg=#e2b86b,bold] SESSION #[fg=#e2b86b,bg=#4fa6ed]"
            mode_move          "#[fg=#1a1c23,bg=#e2b86b,bold]   MOVE  #[fg=#e2b86b,bg=#4fa6ed]"
            mode_prompt        "#[fg=#1a1c23,bg=#e2b86b,bold]  PROMPT #[fg=#e2b86b,bg=#4fa6ed]"
            mode_tmux          "#[fg=#1a1c23,bg=#8ebd6b,bold]   TMUX  #[fg=#8ebd6b,bg=#4fa6ed]"
        }
    }
}
